{% extends 'main.html' %}
{%  load static %}
{% block content %}
<h1>Single Project Template</h1>
<h2> Project ID is: {{ project.id }}</h2>
    <img src="{{ project.featured_image.url}}">
    <h2>Title: {{ project.title }}</h2>
    <h3>Description: {{ project.description }}</h3>
    <h3>Tags associated:</h3>
    {% if tags %}
        {% for tag in tags %}
            <span style="border:2px solid gray"> {{ tag }}</span>
        {%  endfor %}
    {% else %}
        <h4> No Tags associated with Project </h4>
    {% endif %}

{% endblock content %}